{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" href="{{url_for('microservice_bp.static', filename='/css/microservice_dashboard.css')}}">
{% endblock css %}

{% block body %}
    <h1 class="title-center">{{microservice.microservice_name}} Microservice</h1>
    <div class="log_freq_timeseries" id="log_freq_timeseries"></div>
    <div class="log_count_timeseries" id="log_count_timeseries"></div>
    <div class="specific_log_table">
        
        <table class="log-table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>INFO</th>
                    <th>WARNING</th>
                    <th>ERROR</th>
                    <th>CRITICAL</th>
                </tr>
            </thead>
            
            <tbody>
                {% for day in microservice_daily_summary %}
                <tr>
                    <td><a class="invisible_link" href="{{ url_for('microservice_bp.daily_microservice_logs', microservice=microservice.microservice_name, date=day.Date) }}">{{day.Date}}</a></td>

                    {% if day.INFO == 0 %}
                        <td>{{day.INFO}}</td>
                    {% else %}
                        <td style="color: greenyellow;">{{day.INFO}}</td>
                    {% endif %}
                    
                    {% if day.WARNING == 0 %}
                        <td>{{day.WARNING}}</td>
                    {% else %}
                        <td style="color: orange;">{{day.WARNING}}</td>
                    {% endif %}

                    {% if day.ERROR == 0 %}
                        <td>{{day.ERROR}}</td>
                    {% else %}
                    <td style="color: red;">{{day.ERROR}}</td>
                    {% endif %}

                    {% if day.CRITICAL == 0 %}
                        <td>{{day.CRITICAL}}</td>
                    {% else %}
                        <td style="color: purple;">{{day.CRITICAL}}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock body %}

{% block javascript %}
    <script>
        var log_freq_graph = {{microservice.log_freq_timeseries | safe}};
        Plotly.plot("log_freq_timeseries", log_freq_graph, {});
    </script>
{% endblock javascript %} 