{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('microservice_bp.static', filename='css/microservice_grid_styling.css') }}">
{% endblock css %}

{% block body %}
    <div class="main_microservice_body">

        <div class="page-intro">
            <div class="add_button"><a href="{{ url_for('microservice_bp.microservice_creation_form') }}">+</a></div>
            <h1 style="text-align:center;">Microservices</h1>
            <div id="chart" class="chart"></div>
        </div>

        <div class="microservice_grid">

            {% for microservice in microservices %}
                <div class="microservice">
                    <div class="delete_link"><a href="{{ url_for('microservice_bp.remove_microservice', microservice=microservice.microservice_name) }}">Delete</a></div>
                    <a class="invisible_link" href="{{ url_for('microservice_bp.specific_microservice_dashboard', microservice=microservice.microservice_name) }}">
                        <h1>{{microservice.microservice_name}}</h1>
                    </a>
                    <div class="{{microservice.microservice_name}}" id={{microservice.microservice_name}}></div>
                </div>
            {% endfor %}    
        </div>

    </div>

    {% block javascript %}
    <script>
        // Main Graph Plot:
        var graphs= {{graphJSON | safe}};
        Plotly.plot("chart", graphs, {});

        {% for microservice in microservices %}
            // Individual Microservice TimeSeries:
            var microservice_graph = {{microservice.timeseries | safe}};
            Plotly.plot("{{microservice.microservice_name}}", microservice_graph, {});
        {% endfor %}
    </script>
    {% endblock javascript %}

{% endblock body %}